.weather {
  height 100px
  width 100%
  background #3c8ed2
  margin-bottom: 20px

  .city {
    font: 600 16px 'italic'
    color: #fff
    padding-left: 10px
  }
  .main {
    font: 600 14px 'italic'
    color: #fff
    padding: 10px 30px
  }
  .description {
    font: 600 14px 'italic'
    color: #fff
    padding: 10px 30px
  }
}
